public/api-snapshot/v1/workflow-definitions/FLOW-RENEWAL.json
{
  "guid": "FLOW-RENEWAL",
  "solution": "ContosoFieldService",
  "actionCount": 7,
  "triggerCount": 1,
  "definition": {
    "properties": {
      "connectionReferences": {
        "shared_commondataserviceforapps": { "api": { "name": "shared_commondataserviceforapps" } },
        "shared_office365": { "api": { "name": "shared_office365" } }
      },
      "definition": {
        "triggers": {
          "Every_morning": {
            "type": "Recurrence",
            "kind": "Recurrence",
            "inputs": { "recurrence": { "frequency": "Day", "interval": 1, "startTime": "2026-01-01T07:00:00Z" } }
          }
        },
        "actions": {
          "List_expiring_agreements": {
            "type": "OpenApiConnection",
            "inputs": {
              "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords" },
              "parameters": { "entityName": "con_agreements", "$filter": "statecode eq 0 and con_enddate le @{addDays(utcNow(),30)}" }
            },
            "runAfter": {}
          },
          "For_each_agreement": {
            "type": "Foreach",
            "foreach": "@outputs('List_expiring_agreements')?['body/value']",
            "runAfter": { "List_expiring_agreements": ["Succeeded"] },
            "actions": {
              "Get_account_owner": {
                "type": "OpenApiConnection",
                "inputs": {
                  "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "GetItem" },
                  "parameters": { "entityName": "accounts", "recordId": "@items('For_each_agreement')?['_con_customer_value']" }
                },
                "runAfter": {}
              },
              "Has_billing_contact": {
                "type": "If",
                "expression": { "and": [ { "not": { "equals": [ "@outputs('Get_account_owner')?['body/emailaddress1']", null ] } } ] },
                "runAfter": { "Get_account_owner": ["Succeeded"] },
                "actions": {
                  "Send_renewal_email": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": { "connectionName": "shared_office365", "operationId": "SendEmailV2" },
                      "parameters": { "emailMessage/To": "@outputs('Get_account_owner')?['body/emailaddress1']", "emailMessage/Subject": "Your service agreement is expiring soon" }
                    },
                    "runAfter": {}
                  },
                  "Mark_reminder_sent": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord" },
                      "parameters": { "entityName": "con_agreements", "recordId": "@items('For_each_agreement')?['con_agreementid']", "item/con_renewalremindersent": true }
                    },
                    "runAfter": { "Send_renewal_email": ["Succeeded"] }
                  }
                },
                "else": {
                  "actions": {
                    "Create_followup_task": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord" },
                        "parameters": { "entityName": "tasks", "item/subject": "Find billing contact for expiring agreement" }
                      },
                      "runAfter": {}
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
