public/api-snapshot/v1/workflow-definitions/FLOW-QUOTE-FOLLOWUP.json
{
  "guid": "FLOW-QUOTE-FOLLOWUP",
  "solution": "ContosoSales",
  "actionCount": 6,
  "triggerCount": 1,
  "definition": {
    "properties": {
      "connectionReferences": {
        "shared_commondataserviceforapps": { "api": { "name": "shared_commondataserviceforapps" } },
        "shared_office365": { "api": { "name": "shared_office365" } }
      },
      "definition": {
        "triggers": {
          "When_a_quote_is_updated": {
            "type": "OpenApiConnectionWebhook",
            "kind": "OpenApiConnectionWebhook",
            "inputs": {
              "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "SubscribeWebhookTrigger" },
              "parameters": { "subscriptionRequest/entityname": "con_quote", "subscriptionRequest/scope": 4, "subscriptionRequest/filteringattributes": "statuscode" }
            }
          }
        },
        "actions": {
          "Get_quote": {
            "type": "OpenApiConnection",
            "inputs": {
              "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "GetItem" },
              "parameters": { "entityName": "con_quotes", "recordId": "@triggerOutputs()?['body/con_quoteid']" }
            },
            "runAfter": {}
          },
          "Quote_is_sent": {
            "type": "If",
            "expression": { "and": [ { "equals": [ "@outputs('Get_quote')?['body/statuscode']", 1 ] } ] },
            "runAfter": { "Get_quote": ["Succeeded"] },
            "actions": {
              "Compose_reminder_body": {
                "type": "Compose",
                "inputs": "Hi @{outputs('Get_quote')?['body/con_contactname']}, just following up on quote @{outputs('Get_quote')?['body/con_quotenumber']}.",
                "runAfter": {}
              },
              "Send_followup_email": {
                "type": "OpenApiConnection",
                "inputs": {
                  "host": { "connectionName": "shared_office365", "operationId": "SendEmailV2" },
                  "parameters": { "emailMessage/To": "@outputs('Get_quote')?['body/con_contactemail']", "emailMessage/Subject": "Following up on your quote", "emailMessage/Body": "@outputs('Compose_reminder_body')" }
                },
                "runAfter": { "Compose_reminder_body": ["Succeeded"] }
              },
              "Mark_followed_up": {
                "type": "OpenApiConnection",
                "inputs": {
                  "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord" },
                  "parameters": { "entityName": "con_quotes", "recordId": "@triggerOutputs()?['body/con_quoteid']", "item/con_followupsent": true }
                },
                "runAfter": { "Send_followup_email": ["Succeeded"] }
              }
            },
            "else": {
              "actions": {
                "No_action_needed": {
                  "type": "Terminate",
                  "inputs": { "runStatus": "Succeeded" },
                  "runAfter": {}
                }
              }
            }
          }
        }
      }
    }
  }
}
